%section.intro
  .container
    .row
      %p.rockets
        %span.green
        %span.red
        %span.shadow
    .row
      .col-lg-10.col-lg-offset-1.text-intro
        %h1.text-center
          Code Ping Pong with #{link_to 'DHH', 'http://david.heinemeierhansson.com', target: :blank }
        %p.lead.text-center
          Recently, #{link_to 'in this discussion,', 'https://news.ycombinator.com/item?id=7335211', target: :blank } DHH mentioned that he would love to do some more ping-pong over the code, instead of going into abstract debates.
        %p.text-center
          - if PublicConfig.open_for_submissions
            = link_to 'Submit your ping-pong for DHH', new_pong_path, class: 'btn--lg'
          - if user_signed_in?
            = link_to "#{(reviewer? ? 'Submitted' : 'My')} pongs", pongs_path, class: 'btn--lg visible-xs'
