- unless PublicConfig.open_for_submissions
  .container
    .alert.alert-info
      %div
        Yaay! #{link_to('Second pong', 'http://www.dhh-ping-pong.com/pongs/15')} from DHH!
= render 'intro'
= render 'accepted'
= render 'process'
= render 'shared/share', label: 'Pretty cool, huh? Share!', twt: { text: "Wow, I've just played a code ping pong with @DHH", via: 'codepingpong' }
= render 'steps'
