- unless PublicConfig.open_for_submissions
  .container
    .alert.alert-info
      %div
        The voting round is closed! A GIANT thank you to DHH and everybody involved. What's next? #{link_to('Code Ping Pong - Aftermath', 'https://netguru.co/blog/posts/code-ping-pong-with-dhh-the-aftermath')} from DHH!
= render 'intro'
= render 'accepted'
= render 'process'
= render 'shared/share', label: 'Pretty cool, huh? Share!', twt: { text: "Wow, I've just played a code ping pong with @DHH", via: 'codepingpong' }
= render 'steps'
