.row
  .col-lg-12
    %div{ class: "player#{(dhh ? '--right' : '--left')}" }
      - if dhh
        = image_tag 'https://avatars.githubusercontent.com/u/2741', class: 'player__img'
        .bubble
          .bubble__info
            %h3 DHH replied
            %p= pong.accepted? ? pong.answer : 'No answer yet. Ping-pong not accepted.'
          - if pong.accepted?
            .bubble__vote
              - if pong.voted_for_dhh? current_user
                %span Voted for DHH
              - else
                = link_to 'Vote!', dhh_pong_votes_path(pong), method: :post
            %p.bubble__score= "#{pong.dhh_prc}%"
      - else
        = gravatar_image_tag(user.email, 64, 'player__img')
        .bubble
          .bubble__info
            %h3
              = "#{user} propsed"
              - if reviewer?
                %span.label.label-default= "score: #{pong.rating}"
            %p= pong.description
          - if pong.accepted?
            .bubble__vote
              - if pong.voted_for_user? current_user
                %span Voted for #{user}
              - else
                = link_to 'Vote!', user_pong_votes_path(pong), method: :post
            %p.bubble__score= "#{pong.user_prc}%"
          - else
            - if reviewer?
              .bubble__vote
                - if pong.voted_up? current_user
                  %span Voted up!
                - else
                  = link_to 'Up!', up_pong_rates_path(pong), method: :post
                - if pong.voted_down? current_user
                  %span Voted down!
                - else
                  = link_to 'Down!', down_pong_rates_path(pong), method: :post
