.row
  .col-lg-12
    %div{ class: "player#{(dhh ? '--right' : '--left')}" }
      - if dhh
        = image_tag 'https://avatars.githubusercontent.com/u/2741', class: 'player__img'
        .bubble
          .bubble__info
            %h3 DHH replied
            %p= pong.accepted? ? pong.answer.html_safe : 'No answer yet. Ping-pong not accepted.'
          - if pong.accepted?
            .bubble__data
              %p.bubble__score= points_label(pong.dhh_score)
              %p.bubble__result= "#{pong.dhh_prc}%"
      - else
        = gravatar_image_tag(user.email, 64, 'player__img')
        .bubble
          .bubble__info
            %h3
              = "#{user} proposed"
              - if reviewer?
                %span.label.label-default= "score: #{pong.rating}"
            %p= pong.description.html_safe
          - if pong.accepted?
            .bubble__data
              %p.bubble__score= points_label(pong.user_score)
              %p.bubble__result= "#{pong.user_prc}%"
