%li.lead.row
  .pull-left= image_tag("pong.png")
  .pull-right= gravatar_image_tag(pong.user.email)
  Submited by: #{link_to pong.user, pong.user.github_url}
  = link_to pong do
    %p
      #{pong.description}

