= render 'pongs/admin_panel' if admin?
.full-screen-container
  .row
    .col-lg-6
      = render 'pongs/player/player', dhh: false
      = render 'pongs/player/gist', dhh: false
    - if pong.accepted?
      .col-lg-6
        = render 'pongs/player/player', dhh: true
        = render 'pongs/player/gist', dhh: true
= render 'shared/share', label: 'Pretty cool, huh? Share!', twt: { text: "Wow, I've just played a code ping pong with @DHH", via: 'codepingpong' }

= render 'layouts/disqus'
